@tailwind base;
@tailwind components;
@tailwind utilities;

.linkedin-link {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
    color: #0e76a8; /* LinkedIn blue color */
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 20px;
}

.linkedin-link:hover {
    color: #084c7b; /* Darker shade on hover */
}

/* Title styling */
.title {
    font-size: 2em;
    margin-bottom: 30px; /* Increased margin for more spacing below the title */
    color: #2275C4; /* Color matching the project card border */
    text-align: center;
}

/* Certificates & Awards container */
.certificates-container {
    padding: 20px;
    text-align: center;
    margin-top: 5%;
    margin-left: 11%;
    margin-right: 11%;
}

/* Responsive grid for certificates and awards */
.certificates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between certificate/award cards */
    margin-top: 20px;
}

/* Styling for each certificate and award card */
.certificate-card {
    border: 2px solid #2275C4; /* Matching border color */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
    padding: 10px;
    transition: transform 0.2s; /* Animation effect for hover */
}

/* Image inside certificate/award card */
.certificate-card img {
    max-width: 100%; /* Responsive image */
    border-radius: 10px; /* Rounded corners for the image */
}

/* Certificate or award title */
.certificate-card h3 {
    margin: 10px 0 5px;
    font-size: 1.5rem;
    color: #333;
}

/* Description text */
.certificate-card p {
    font-size: 14px;
    color: #333;
}

/* Hover effect for cards */
.certificate-card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .certificates-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .certificates-grid {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }

    .certificate-card {
        padding: 15px;
    }

    .certificate-card h3 {
        font-size: 1.2rem;
    }

    .certificate-card p {
        font-size: 12px;
    }
}
